{% extends "base.html" %}
{% block title %} Thief List {% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<section class="py-5 border-bottom">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">قائمة اللصوص</h2>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">

                {% for obj in obj_lst %}
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex" style="direction: rtl; padding: 10px; ">
                            <div class="flex-shrink-0"><a href="{% url 'robbery:robbery_profile' obj.gang_iban %}"><i class="fas fa-user-secret fa-4x" style=" color: black;"></i></a></div>
                            <div class="ms-4">
                                <p class="mb-1">اي بي السارق: {{ obj.gang_iban }}</p>
                                <div class="small text-muted"><a href="{% url 'robbery:robbery_profile' obj.gang_iban %}"> عرض ضحايا السارق</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% if is_paginated  %}
                <div class="container mb-2" style="margin: 0 auto; align: center;">
                    <nav aria-label="Page navigation example text-center">
                        <ul class="pagination">

                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for page in page_obj.paginator.page_range %}
                            <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        </ul>
                    </nav>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</section>

{% endblock %}
