
<!--https://maroof.sa/Content/dist/images/logo.svg-->
<!--https://maroof.sa/Content/Stamps/ImageNoCr.png-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a href="https://maroof.sa"><img class="navbar-brand" src="https://maroof.sa/Content/Stamps/ImageNoCr.png" style="max-height: 60px; object-fit: fill;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'robbery:home' %}">الصفحة الرئسية</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'info:detail' %}">كيف نعمل</a></li>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">الادمن</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'robbery:robbery_list_admin' %}">عرض اللصوص</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'robbery:robbery_list' %}">عرض اللصوص</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'robbery:robbery_add' %}">اضافة ضحية</a></li>
                    {% endif %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">تسجيل الخروج</a></li>
                {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">تسجيل الدخول</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url  'accounts:registration'  %}">انشاء مستخدم</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>