{% extends 'base.html' %}
{% block title %} الصفحة الرئيسية {% endblock %}

{% load static %}
{% block content %}
<style>

@media screen and (max-width: 992px) {
 .row {
    display: flex; flex-direction: column-reverse;
    }
}

</style>
<!-- Carousel Section -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="max-height: 60%;">
    <div class="carousel-inner" style="max-height: 60%;  ">

        <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'images/thief.jpg' %}" alt="First slide" style="max-height: 500px; object-fit: fill;">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="display-5 fw-bolder text-white mb-2">موقع معروف لتتبع الضاحايا </h1>
                <p class="lead text-white-50 mb-4"> ساعدنا للوصول الي اكبر عدد من السارقين من خلال التسجيل وملئ البينات المطلوبة</p>
                 {% if not request.user.is_authenticated %}
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'accounts:login' %}">تسجيل الدخول</a>
                <a class="btn btn-outline-light btn-lg px-4" href="{% url  'accounts:registration'  %}">انشاء مسخدم</a>
                {% endif %}
             </div>
        </div>

  </div>
</div>

<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <h4 style="align:center; margin: 0 auto; margin-top:35px; text-align: center;">  آلية عمل الموقع </h4><br><br>

    <div class="container px-5 my-5">
        <div class="row gx-5" >

            <div class="col-lg-4 mb-5 mb-lg-0" style="direction: rtl; margin: 0 auto;">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">الخطوة الثالثة</h2>
                <p>بدأ اجارات الملاحقه وعند تحصيل أي اموال يتم توزيعها نسبه وتناسب مع حصولنا على 25% من المبالغ المستعادة</p>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0" style="direction: rtl; margin: 0 auto;">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                <h2 class="h4 fw-bolder">الخطوة الثانية</h2>
                <p>معرفة الدوله التي تم التحويل لها ثم نقوم بتقدير تكلفة المحاماه ضد العصابه ثم نوزع التكلفه على المجموعه وناخذ توكيلات وتكلفة المحامي من الضحايا</p>
            </div>

            <div class="col-lg-4" style="direction: rtl; margin: 0 auto;">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder">الخطوة الألولي</h2>
                <p>نقوم بتجميع بيانات الضحايا ونقوم بترتيبها ومعرفة عدد الضحايا الذين قامو بتحويل اموال لرقم ايبان واحد ثم من خلال رقم الايبان</p>
            </div>
        </div>

        {% if not request.user.is_authenticated %}
        <div style="align:center; margin: 0 auto; margin-top:35px; text-align: center;">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'accounts:login' %}" style="max-width:40%">تسجيل الدخول</a>
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url  'accounts:registration'  %}" style="max-width:40%">انشاء مسخدم</a>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
